<%- include('../../includes/head', { pageTitle: product.title }) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/cart-management.js" defer></script>
</head>
<body>
  <%- include('../../includes/header') %>
  <main id="product-details">
    <header>
      <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
      <div id="product-info">
        <h2><%= product.title %></h2>
        <p>$<%= product.price %></p>
        <button class="btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Add to Cart</button>
      </div>
    </header>
    <p id="product-description"><%= product.description %></p>
  </main>
<%- include('../../includes/footer') %>